
:root {
    --blue: #55A3FF;
    --blue-hover: #3391FF;
    --blue-active: #3391FF;
    --red: #FF6161;
    --black: #434343;
    --silver: #F2F2F2;
    --open-sans: 'Open Sans', sans-serif;
    --mont: 'Montserrat', sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

input {
    margin: 0;
}

button {
    font-family: var(--open-sans);
    cursor: pointer;
    background-color: inherit;
    border-radius: 5px;
}

li {
    font-family: var(--open-sans);
    font-size: 14px;
    font-weight: 400;
    color: #A9A9A9;
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

/* ------------------------------------------------- */


/* Header */

.header__bg {
    height: 98px;
    width: 100%;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

.header__header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 98px;
}


/* Left header */

.header__input-task {
    margin-right: 20px;
    width: 300px;
}

.header__input-price {
    margin-right: 20px;
    width: 136px;
}

.header__button-add-task {
    width: 180px;
}


.button {
    background-color: var(--blue);
    height: 47px;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: var(--open-sans);
    font-weight: 700;
    font-size: 14px;
    line-height: 133%;
    transition: background-color 0.2s;
}

.button:hover {
    background-color: var(--blue-hover);
    transition: 0.2s;
}

.input-text {
    border: 1px solid var(--blue);
    font-family: var(--open-sans);
    font-size: 14px;
    border-radius: 5px;
    height: 47px;
    transition: 0.2s;
    padding: 13px 16px 14px 16px;
    color: #298CFF;
}



::placeholder {
    color: #298CFF;
}


.input-text:hover {
    border-color: #0075FF;
}

.input-text:focus {
    outline: none;
    box-shadow: 0px 1px 10px rgba(51, 145, 255, 0.5);
    transition: 0.2s;
}


/* При ошибке */

.error-svg-task {
    height: 19px;
    width: 19px;
    background-color: var(--red);
    border-radius: 100%;
    position: absolute;
    left: 12px;
    top: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px 0.8px 0 0;
}

.error-svg-price {
    height: 19px;
    width: 19px;
    background-color: var(--red);
    border-radius: 100%;
    position: absolute;
    left: 332px;
    top: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px 0.8px 0 0;
}

.error-svg img {
    height: 8px;
    width: 8px;
}

.input--error {
    border: 2px solid var(--red);
    background: rgba(255, 0, 0, 0.1);
    padding: 13px 16px 14px 38px;

}

.input--error::placeholder {
    color: var(--red);
    font-family: var(--open-sans);
    font-weight: 600;
}

/* ------------------------------- */



/* Right header */

.header__right-content {
    display: flex;
}

.header__select-lang {
    margin-right: 20px;
}

.header__select-lang-btn{
    width: 248px;
    text-align: start;
    padding: 11px 15px;
    font-size: 16px;
    border: 0.5px solid #C2C2C2;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
    color: #A6A6A6;
    display: flex;
    justify-content: space-between;
    transition: 0.2s;
}

.svg-arrow {
    opacity: 35%;
    transition: 0.2s;
}

.header__select-lang-btn:hover {
    border-color: #adadad;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.19);
    transition: 0.2s;
}

.header__select-lang-btn:hover .svg-arrow {
    opacity: 50%;
    transition: 0.2s;
}



.header__lang-list {
    position: absolute;
    width: 248px;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 13px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
}

.lang:first-child {
    height: 44px;
    border: 0.5px solid #C2C2C2;
    border-radius: 5px 5px 0px 0px;
    font-size: 16px;
    color: #A6A6A6;
    padding: 10px 15px;
}

.lang {
    margin-top: -1px;
    height: 44px;
    border: 0.5px solid #C2C2C2;
    font-size: 16px;
    color: #A6A6A6;
    padding: 10px 15px;
    transition: 0.2s;
    border-radius: 0px;
}

.lang:last-child {
    margin-top: -1px;
    height: 44px;
    border: 0.5px solid #C2C2C2;
    border-radius: 0px 0px 5px 5px;
    font-size: 16px;
    color: #A6A6A6;
    padding: 10px 15px;
}

.lang:hover {
    background-color: #F5F5F5;
    transition: 0.2s;
}



.thems {
    display: flex;
    position: relative;
}


.header__select-theme {
    position: relative;
    border: 0.5px solid #C2C2C2;
    width: 61px;
    height: 47px;
    background-color: white;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
}

.header__select-theme:hover {
    border-color: #adadad;
}



.moon {
    position: absolute;
    top: 10px;
    right: 15px;
    opacity: 70%;
    transition: 0.2s;
}

.header__select-theme:hover .moon {
    opacity: 100%;
    transition: 0.2s;
}


/* Dark theme */
.dark-theme {
    background-color: #414141;
    border: 0.5px solid #676767;;
}

.sun {
    position: absolute;
    top: 9px;
    right: 15px;
    opacity: 70%;
    transition: 0.2s;
    opacity: 100%;
}


/* ---------------------------- */


/* Main content */

.main__content {
    margin-top: 37px;
    display: grid;
    grid-template-columns: 880px 1fr;
    
}

/* hints */
.hints {
    grid-column: 1/4;;
    margin-left: 53px;
    margin-bottom: 20px;
}

hr {
    border: none;
    height: 1px;
    background-color: #DADADA;
}

.hints__list {
    display: flex;
    list-style: none;
    margin-bottom: 11px;
}

.hints__item:nth-child(1) {
    margin-right: 254px;
}
.hints__item:nth-child(2) {
    margin-right: 216px;
}
.hints__item:nth-child(3) {
    margin-right: 166px;
}


/* tasks */

.tasks-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    margin-left: 50px;
    border-radius: 5px;
}

.tasks-item:nth-child(even) {
    background-color: var(--silver);
    height: 62px;

}

.tasks__btn-delete {
    background-color: white;
    position: absolute;
    left: -55px;
    height: 36px;
    width: 38px;
    border: 1px solid var(--red);
    border-radius: 100%;
    transition: background-color 0.2s;
}

.tasks__btn-delete img {
    position: absolute;
    top: 9.4px;
    right: 10.9px;
    height: 15px;
    width: 13px;
}

.tasks__btn-delete:hover {
    background-color: rgb(255, 240, 240);
    transition: 0.2s;
}

/* Item content */
.tasks__item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 5px;
}

.tasks__item-title {
    font-size: 16px;
    margin-left: 20px;
    line-height: 140%;
    color: rgb(68, 68, 68);
}


/* Counter */
.tasks__item-counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    width: 114px;
    background-color: white;
    border: 1px solid #D4D4D4;
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
    margin-right: 22px;
}

.tasks__item-counter-arrow {
    width: 33px;
    height: 32px;
    border: 1px solid #D4D4D4;
}

.tasks__item-counter-arrow:nth-child(1) {
   position: relative;
   left: -1px;
   border-radius: 3px 0px 0px 3px;
}
.tasks__item-counter-arrow:nth-child(3) {
   position: relative;
   right: -1px;
   border-radius: 0px 3px 3px 0px;
}

.tasks__item-counter-numbers {
    color: #424242;
    font-weight: 700;
}

.tasks__item-counter-arrow:hover {
    background-color: rgb(248, 248, 248);
}

/* Price */
.tasks-item-price {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--mont);
    font-size: 16px;
    color: var(--black);
    width: 149px;
    height: 40px;
    border: 1px solid var(--blue);
    border-radius: 5px;
    margin-right: 10px;
}





/* saidbar */
.sidebar {
    position: sticky;
    top: 20px;
    right: 0px;
    margin-left: 44px;
    height: 175px;
}

.sidebar__result {
    width: 100%;
    border: 1px solid var(--blue);
    border-radius: 5px;
    height: 62px;
    font-family: var(--mont);
    font-size: 25px;
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EDF5FF;
}

.sidebar__tasks-sum {
    width: 100%;
    height: 36px;
    background-color: var(--silver);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 15px;
    padding: 0 10px 0 10px;
    color: var(--black);
}

.sidebar__button-clean {
    width: 100%;
    margin-top: 15px;
}



/* Modal */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2px);
}

.modal__bg {
    background-color: white;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.4);
    width: 608px;
    height: 217px;
    border-radius: 5px;
    position: relative;
}

.modal__btn-close {
    position: absolute;
    right: 10px;
    top: 10px;
}
.modal__btn-close img {
    right: 10.5px;
}

.modal__content {
    text-align: center;
    margin-top: 56px;
}

.modal__content h2 {
    font-family: var(--mont);
    font-size: 20px;
}

.modal__btn {
    margin-top: 20px;
    width: 220px;
}























.hide {
    display: none;
}
.show-flex {
    display: flex;
}
.show-block {
    display: block;
}